<html>

  <body> 
      <div class="main-container">
          <h1>配信一覧</h1>
                  <%= image_tag 'user-profile.png', :class=>"icon", :alt => 'プロフィール画像' %>
                  <%= image_tag 'user-profile.png', :alt => 'プロフィール画像' %>

      </div>


      <!-- アラートメッセージの追加 -->
      <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>

      <div class="bg-white text-dark">
        <%= yield %>
      </div>
    </div>

    <!-- Javascript追加 -->
    <script src="<%= mix('/js/app.js') %>"></script>
  </body>
</html>


