<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>配信一覧</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Style追加 -->
    <link rel="stylesheet" href="<%= mix('/css/app.css') %>">
    <!-- Javascript追加 -->
    <script src="<%= mix('/js/bootstrap.js') %>"></script>
  </head>

  <body>
    <div class="stream-container">
      <!--  ナビゲーションバーの追加 -->
      <nav class="custom-navbar">
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <li>
              <a href="#">投稿一覧</a>
            </li>
            <li>
              <a href="#">投稿一覧</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- アラートメッセージの追加 -->
      <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>

      <div class="bg-white text-dark">
        <%= yield %>
      </div>
    </div>

    <!-- Javascript追加 -->
    <script src="<%= mix('/js/app.js') %>"></script>
  </body>
</html>
<end>